@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.pageorg{

	width: 100%;	
    position: relative;
    margin-top: 66px;
	text-align: center;	
	color: #FFF;
}
.img{ 
	width: 10%;
    position: relative;
}

.img:hover{

   transform: scale(1.4);
    transition: .50s ease;
}


.title{
	font-family: 'Source Sans Pro';
	color: #FFF;
    font-size: 2.7em;
    font-weight: normal;
}

.subtitle{
    margin: 2% 0 0 0;
    font-family: 'Source Sans Pro';
	color: #FFF;
    font-size: 1.3em;
}

.subsubtitle{
  font-family: 'Source Sans Pro';
  color: #FFF;
    font-size: 1.2em;
    font-weight: normal;
}

.botao {
	color: #013243;
    transition: .15s ease-in;
    position: relative;
    text-decoration: none;
    padding: 0.6% 1%;
    border: 1px solid #FFF;
    color: #FFF;
    background: transparent;
    border-radius: 100px;
    font-family: 'Source Sans Pro';
    font-size: 0.9em;
}

.botao:hover {
    background: #FFF;
    color: #013243;
    transition: .15s ease-in;
    cursor: pointer;
}

input[type=password] {
    width: 40%;
    margin: 1%;
    padding: 8px 14px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 1em;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    background: transparent;
}

input[type=text] {
    width: 40%;
    margin: 1%;
    padding: 8px 14px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 1em;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    background: transparent;
}
select {
    width: 40%;
    margin: 1%;
    padding: 8px 14px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 1em;
    text-align: center;
    color: white;
    border-radius: 4px;
    background: transparent;
}

select option {
  color: black;
}

input[type=number] {
    width: 40%;
    margin: 1%;
    padding: 8px 14px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 1em;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    background: transparent;
}



/*
tentando melhorar o botao de "radio"*/

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
    border-radius: 1000px;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -90px;
    margin-top: -90px;
    opacity: 0;
    border-radius: 1000px;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  position: relative;
  top: 5px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
   
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border: 2px solid white;
  color: black;
  border-radius: 4px;
  background: transparent;

}
.option-input:hover {
  background: #013243;
}
.option-input:checked {
  background: #FFF;
}
.option-input:checked::before {
  height: 20px;
  width: 20px;
  position: absolute;
  content: '✔';
  display: inline-block;
  text-align: center;
  line-height: 20px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 10000px;
}
.option-input.radio::after {
  border-radius: 10000px;
}

.file-input{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.file-input + label {
  font-size: 1em;
  padding: 0.6% 1%;
  font-family: 'Source Sans Pro';
  color: #013243;
  background-color: #FFF;
  border: 1px solid #FFF;
}

.file-input:focus + label,
.file-input + label:hover {
  padding: 0.8% 1.3%;
  cursor: pointer;
  transition: .15s ease-in-out;
  outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}

/*
ajeitando a pagina de informação de pets com imagem"*/


.divorg{
  width: 60%;  
  position: relative;
  margin-left: 2%;
  margin-bottom: 5%;
  text-align: left; 
  color: #FFF;
  float: left;
}

.divorgimg{
  width: 30%;  
  position: relative;
  margin-left: 5%;
  float: left;

}

.divorgimg img{
  width: 70%;
  height: auto;
  position: relative;
}

/* Botão removerPet */
.removePet, .editPet, .adoptPet{
  position: relative;
  text-decoration: none;
  padding: 1% 2%;
  border: 1px solid #FFF;
  color: #FFF;
  background: transparent;
  border-radius: 100px;
  font-family: 'Source Sans Pro';
  font-size: 0.9em;
}

.removePet:hover{
  background: #d32f2f;
  color: #FFF;
  transition: .15s ease-in;
  cursor: pointer;
}

.editPet:hover{
  color: #013243;
  background: #FFF;
  transition: .15s ease-in;
  cursor: pointer;
}

.adoptPet:hover{
  color: #FFF;
  background: #2ECC71;
  transition: .15s ease-in;
  cursor: pointer;
}
