@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.pageorg{

	width: 100%;	
    position: relative;
    margin-top: 66px;
	text-align: center;	
	color: #FFF;
}
.img{ 
	width: 10%;
    position: relative;
}

.title{
	font-family: 'Source Sans Pro';
	color: #FFF;
    font-size: 2.7em;
    font-weight: normal;
}

.subtitle{
    margin: 2% 0 0 0;
    font-family: 'Source Sans Pro';
	color: #FFF;
    font-size: 1.3em;
}

.botao {
	color: #013243;
    transition: .15s ease-in;
    position: relative;
    text-decoration: none;
    padding: 0.6% 1%;
    border: 1px solid #FFF;
    color: #FFF;
    background: transparent;
    border-radius: 100px;
    font-family: 'Source Sans Pro';
    font-size: 0.9em;
}

input[type=submit]:hover {
    background: #FFF;
    color: #013243;
    transition: .15s ease-in;
}

input[type=password] {
    width: 50%;
    margin: 1%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    background: transparent;
}

input[type=text] {
    width: 50%;
    margin: 1%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    background: transparent;
}
select {
    width: 50%;
    margin: 1%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    text-align: center;
    color: black;
    border-radius: 4px;
    background-color: transparent;
}



input[type=number] {
    width: 50%;
    margin: 1%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Source Sans Pro';
    font-size: 1.5em;
    text-align: center;
    color: #FFF;
    border-radius: 4px;
    background: transparent;
}



/*
tentando melhorar o botao de "radio"*/

@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    opacity: 0.35;
    position: relative;
    border-radius: 1000px;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -90px;
    margin-top: -90px;
    opacity: 0;
    border-radius: 1000px;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 30px;
  transition: all 0.15s ease-out 0s;
   
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  border: 2px solid white;
  color: black;
  border-radius: 4px;
  background: transparent;

}
.option-input:hover {
  background: #013243;
}
.option-input:checked {
  background: #FFF;
}
.option-input:checked::before {
  height: 30px;
  width: 30px;
  position: absolute;
  content: '✔';
  display: inline-block;
  font-size: 30px;
  text-align: center;
  line-height: 30px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #40e0d0;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 80%;
}
.option-input.radio::after {
  border-radius: 80%;
}








/*
color: #FFF;
background: transparent;

*/