@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.pageorg{

	width: 100%;	
    position: relative;
    margin-top: 66px;
	text-align: center;	
	color: #FFF;
}

.img{ 
	width: 10%;
    position: relative;
}

.title{
	font-family: 'Source Sans Pro';
	color: #FFF;
    font-size: 2.7em;
    font-weight: normal;
}

.botao {

	color: #013243;
    transition: .15s ease-in;
    position: relative;
    text-decoration: none;
    padding: 0.6% 1%;
    border: 1px solid #FFF;
    color: #FFF;
    background: transparent;
    border-radius: 100px;
    font-family: 'Source Sans Pro';
    font-size: 0.9em;

}

input[type=submit]:hover {
    background: #FFF;
    color: #013243;
    transition: .15s ease-in;
}

input[type=text] {
    width: 20%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 4px;
}